<div class="post_box container-fluid">
    <div class="">
        <div class="row col-4 profilePic">
            {{user.firstName}}
        </div>
        <div class="row m-2 status col-12 justify-content-center ">
           <h3> {{post.message}}</h3>
            <br/>
            <img [src]="'data:image/jpg;base64,'+post.postImages" alt="" style="width: 300px; height: 300px;"/>
        </div>
    <div class="row like_comment d-flex justify-content-between">
        <div class="likes">
            Likes <span>{{post.numOfLikes}}</span>
        </div>
        <div class="comments">
         Comment
        </div>
    </div>
</div>
