
<div class="col-8 offset-2 my-2 py-2">
    <h3>Register for Tryle</h3>
    <form [formGroup]="userCreationForm" >
            <div class="form-group">
            <input class="form-control"type="text" id="first_name" formControlName="firstName">
            <label for="first_name">First Name:</label>
            </div>
        <br/>
            <div class="form-group">
            <input class="form-control"type="text" id="last_name" formControlName="lastName">
            <label for="last_name">Last Name:</label>
            </div>
        <br/>
            <div class="form-group">
            <input class="form-control"type="text" id="username" formControlName="username">
            <label for="username">Username:</label>
            </div>
        <br/>
            <div class="form-group">
            <input class="form-control"type="password" id="password" formControlName="password">
            <label for="password">Password:</label>
            </div>
        <br/>
            <div class="form-group">
            <input class="form-control"type="email" id="email" formControlName="email">
            <label for="email">Email:</label>
            </div>
        <br/>
            <div class="form-group">
            <input class="form-control"type="date" id="date_of_birth" formControlName="dateOfBirth">
            <label for="date_of_birth">Birth Date:</label>
            </div>
        <br/>
            <div class="form-group">
            <label for="profileImage">Profile Image:</label>
            <input class="form-control"type="text" id="profileImage" formControlName="profileImage">
            </div>
        <br/>
            <button class="btn btn-success" type="submit" (click)="createUser()">Create Your User</button>
    </form>
</div>
