<div class="container">
    <div class="row profile_pic justify-content-center">   
        <img src="https://images.unsplash.com/photo-1531123897727-8f129e1688ce?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80"/>
    </div>
    <div class="row justify-content-center">
        <h4>Jordan Parker</h4>
    </div>
    <br/>
    <div class="col-10 offset-2 justify-content-center">
        <app-create-post></app-create-post>
    </div>
    <div class="col-10 offset-2 justify-content-center">
            <app-post></app-post>
    </div>
    <div class="col-10 offset-2 justify-content-center">
        <app-post></app-post>
    </div>
    <div class="col-10 offset-2 justify-content-center">
        <app-post></app-post>
    </div>
</div>
