<div class="row">
    <div class="formCol col-5 offset-3">
        <h3>Login Here</h3>
        <br />
        <form [formGroup]="loginForm">
            <div class="form-group">
                <input type="text" class="form-control" id="username" formControlName="oldPassword"
                    aria-describedby="emailHelp">
                <label for="password">Enter Old Password</label>
            </div>

            <div class="form-group">
                <input type="text" class="form-control" id="username" formControlName="confirmPassword" aria-describedby="emailHelp">
                <label for="password">Confirm Old Password</label>
            </div>

            <div class="form-group">
                <input type="text" class="form-control" id="username" formControlName="newPassword" aria-describedby="emailHelp">
                <label for="password">Enter New Password</label>
            </div>

            <button type="submit" (click)="submitForm()" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>